.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar{
    padding-top: 2rem;
}

.navlink{
    color: var(--primary);
    margin-left: 2rem;
    font-size: 21px;
}

.active{
    color: var(--nav_active);
}